.modal__layout {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__modal {
  z-index: 100;
}

.card__modal h3 {
  background: #4c0b56;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 2%;
  margin: 0;
}

.card__modal p {
  margin-bottom: 40px;
  padding: 2%;
}

.card__modal div {
  display: flex;
  justify-content: flex-end;
  padding: 2%;
}
